@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}

body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

/* NAVBAR WITH SEARCH INPUT */

.nav-bar {
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

h1 {
  padding: 2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  text-align: center;
  font-size: 4rem;
}

.search-input {
  border-radius: 30px;
  width: 200px;
  padding: 15px 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  border: none;
  outline: none;
  color: aliceblue;
}

input:-internal-autofill-selected {
  background: red !important;
  color: aliceblue;
}

.search-input::placeholder {
  animation: blinker 2s linear infinite;
  color: rgba(240, 248, 255, 0.6);
}

.btn {
  border-radius: 30px;
  padding: 15px 20px;
  text-transform: uppercase;
  color: aliceblue;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  border: none;
  outline: none;
  cursor: pointer;
}

.blinker-text {
  animation: blinker 3s linear infinite;
}

.btn:active {
  transform: scale(0.95);
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.03;
  }
  100% {
    opacity: 1;
  }
}

/* MAIN WEATHER CONTAINER */
/* MAIN WEATHER CONTAINER */
/* MAIN WEATHER CONTAINER */
.container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 3rem 2rem;
  background-color: rgba(255, 255, 255, 0.6);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  border-radius: 20px;
}

h1 {
  padding: 1rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  text-align: center;
  font-size: 3rem;
}

.weather-data {
  display: flex;
  justify-content: center;
  text-align: center;
}

sub {
  font-size: 0.8rem;
  font-weight: 400;
}

.max {
  color: crimson;
}
.min {
  color: steelblue;
}

.city-panel,
.temp-panel {
  width: 50%;
}

.city-panel {
  font-size: 2rem;
  font-weight: 200;
}

.temp-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-weight: 100;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  text-align: center;
  font-size: 4rem;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width: 450px) {
  .container {
    max-width: 350px;
    padding: 3rem 0;
  }

  .weather-data {
    flex-direction: column;
  }

  .thin-line {
    height: 1px;
    width: 90%;
    margin: 2rem auto;
    background-color: aliceblue;
    animation: blinker 3s linear infinite;
  }

  .city-panel,
  .temp-panel {
    width: 100%;
  }
}
