@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  /* background: url("./img/pexels-andre-furtado-1162251.jpg") center/cover; */
  background: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  position: relative;
}

body {
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

/* NAVBAR WITH SEARCH INPUT */

.nav-bar {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 46px;
}

.nav-title {
  margin-left: auto;
}

.search-bar {
  margin: 2rem auto;
  text-align: center;
}

.search-input {
  border-radius: 50px;
  width: 400px;
  padding: 20px 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border: none;
  outline: none;
  color: aliceblue;
  margin-right: 1rem;
}

.not-found {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 200;
}

.city-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input:-internal-autofill-selected {
  background: red !important;
  color: aliceblue;
}

.search-input::placeholder {
  animation: blinker 2s linear infinite;
  color: rgba(240, 248, 255, 0.6);
}

.btn {
  border-radius: 50px;
  padding: 20px;
  text-transform: uppercase;
  color: aliceblue;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border: none;
  outline: none;
  cursor: pointer;
}

.search-icon {
  color: alice;
  font-size: 1.5rem;
}

.blinker-text {
  animation: blinker 3s linear infinite;
}

.btn:active {
  transform: scale(0.95);
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.03;
  }
  100% {
    opacity: 1;
  }
}

/* MAIN WEATHER CONTAINER */
/* MAIN WEATHER CONTAINER */
/* MAIN WEATHER CONTAINER */
.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 3rem 2rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 20px;
}

.weather-data {
  display: flex;
  justify-content: center;
  text-align: center;
}

sub {
  font-size: 0.8rem;
  font-weight: 400;
}

.max {
  color: crimson;
}
.min {
  color: steelblue;
}

.city-panel,
.temp-panel {
  width: 50%;
}

.city-panel {
  font-size: 2rem;
  font-weight: 200;
}

.temp-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  font-weight: 100;
}

.weather-icon {
  animation: blinker 5s linear infinite;
}

.weather-description {
  text-transform: capitalize;
}

.display-none {
  display: none;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 1rem 0;
  text-align: center;
  font-size: 1.3rem;
}

.footer-logos {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.data-logo {
  width: 100px;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .nav-bar {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .nav-bar {
    max-width: 600px;
  }
}
@media (max-width: 600px) {
  .nav-bar {
    max-width: 400px;
  }
}
@media (max-width: 400px) {
  .nav-bar {
    max-width: 250px;
  }
}

@media (max-width: 650px) or (orientation: landscape) {
  .container {
    max-width: 325px;
    padding: 3rem 0;
    margin-bottom: 10rem;
  }

  .weather-data {
    flex-direction: column;
  }

  .thin-line {
    height: 1px;
    width: 90%;
    margin: 2rem auto;
    background-color: aliceblue;
    animation: blinker 3s linear infinite;
  }

  .city-panel,
  .temp-panel {
    width: 100%;
  }
}
